api-led-connectivity/employee-process-api/src/main/mule/employeemanagement-process-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <http:listener-config name="HTTP_Listener_Config">
        <http:listener-connection host="0.0.0.0" port="8082"/>
    </http:listener-config>

    <http:request-config name="Employee_System_API_Config">
        <http:request-connection host="localhost" port="8081"/>
    </http:request-config>

    <flow name="employee-process-api">

        <http:listener path="/process/v1/employees/{id}"
                       config-ref="HTTP_Listener_Config"/>

        <http:request method="GET"
                      path="/system/v1/employees/{id}"
                      config-ref="Employee_System_API_Config">
            <http:uri-params><![CDATA[#[{ id: attributes.uriParams.id }]]]></http:uri-params>
        </http:request>

        <logger level="INFO" message="System API Payload: #[payload]"/>

        <set-variable variableName="employee" value="#[payload]"/>

        <logger level="INFO" message="Employee Variable: #[vars.employee]"/>

        <set-variable variableName="payroll" value='#[{
            salary: 50000,
            bonus: 5000
        }]'/>

        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[
%dw 2.0
output application/json
---
{
    id: vars.employee.id,
    name: vars.employee.name,
    department: vars.employee.department,
    email: vars.employee.email,
    salary: vars.payroll.salary,
    bonus: vars.payroll.bonus,
    totalCompensation: vars.payroll.salary + vars.payroll.bonus
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <error-handler>
            <on-error-propagate>
                <set-payload value='{"error": "Process API failed"}'
                             mimeType="application/json"/>
            </on-error-propagate>
        </error-handler>

    </flow>

</mule>