open-ai-api/target/classes/openai-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd       http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd       http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd       http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <!-- MAIN FLOW -->
    <flow name="openai-sys-api-main">
        <http:listener config-ref="openai-sys-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]" />
            <http:error-response statusCode="#[vars.httpStatus default 500]" />
        </http:listener>
        <logger level="INFO" message="#[{             correlationId: correlationId default uuid(),             message: &quot;SAPI Started&quot;         }]" />
        <apikit:router config-ref="openai-sys-api-config" />
        <error-handler ref="system-error-handler" />
    </flow>
    <!-- CONSOLE -->
    <flow name="openai-sys-api-console">
        <http:listener config-ref="openai-sys-api-httpListenerConfig" path="/console/*" />
        <apikit:console config-ref="openai-sys-api-config" />
    </flow>
    <!-- API IMPLEMENTATION -->
    <flow name="post:\sys\chatgpt:multipart\form-data:openai-sys-api-config">
        <logger level="INFO" message="&quot;Calling OpenAI from Mule API&quot;" />
        <flow-ref name="implementation" />
    </flow>
</mule>
