mule-transaction-api/src/main/mule/xa-transaction.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:bti="http://www.mulesoft.org/schema/mule/ee/bti"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
      http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
      http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/bti http://www.mulesoft.org/schema/mule/ee/bti/current/mule-bti-ee.xsd">
 
    <http:listener-config name="HTTP_Listener_config_XA" doc:name="HTTP Listener Config XA">
    <http:listener-connection host="0.0.0.0" port="8082"/>
</http:listener-config>
 
    <db:config name="Postgres_Config_XA" doc:name="Postgres Config XA">
        <db:generic-connection
            driverClassName="org.postgresql.Driver"
            url="jdbc:postgresql://127.0.0.1:5432/transaction_poc"
            user="postgres"
            password="postgres"
            useXaTransactions="true"/>
    </db:config>
 
    <jms:config name="JMS_Config" doc:name="JMS Config">
        <jms:active-mq-connection username="admin" password="admin">
            <jms:caching-strategy >
				<jms:no-caching />
			</jms:caching-strategy>
			<jms:factory-configuration brokerUrl="tcp://127.0.0.1:61616" enable-xa="true"/>
        </jms:active-mq-connection>
    </jms:config>
 
    <bti:transaction-manager doc:name="Bitronix Transaction Manager" doc:id="ecef299f-ccfd-401e-b3d1-7c7b08a04410" />
	<flow name="xa-order-flow" doc:name="xa-order-flow">
 
        <http:listener config-ref="HTTP_Listener_config_XA"
                   path="/placeOrder"
                   doc:name="Place Order Listener">
        <http:response statusCode="#[vars.httpStatus default 200]"/>
        <http:error-response statusCode="#[vars.httpStatus default 500]"/>
    </http:listener>
        <set-variable variableName="req"
                      value="#[payload]"
                      doc:name="Store Request"/>
 
        <try transactionalAction="ALWAYS_BEGIN"
             transactionType="XA"
             doc:name="XA Transaction Scope">
 
            <db:insert config-ref="Postgres_Config_XA"
                       doc:name="Insert Order to DB">
                <db:sql><![CDATA[
                    INSERT INTO orders (id, customer, product, amount)
                    VALUES (:id, :customer, :product, :amount)
                ]]></db:sql>
                <db:input-parameters><![CDATA[#[{
                    id      : vars.req.id,
                    customer: vars.req.customer,
                    product : vars.req.product,
                    amount  : vars.req.amount
                }]]]></db:input-parameters>
            </db:insert>
 
            <jms:publish config-ref="JMS_Config"
                         destination="orders.queue"
                         doc:name="Publish to Queue" transactionalAction="ALWAYS_JOIN">
                <jms:message>
                    <jms:body><![CDATA[#[%dw 2.0
output application/json
---
{
    orderId : vars.req.id,
    customer: vars.req.customer,
    product : vars.req.product,
    amount  : vars.req.amount
}]]]></jms:body>
                </jms:message>
            </jms:publish>
 
            <choice doc:name="Simulate XA Failure">
                <when expression="#[vars.req.fail default false]">
                    <raise-error type="APP:SIMULATE_FAIL"
                                 description="Simulated failure after DB insert and JMS publish. XA should roll back both."/>
                </when>
                <otherwise>
                    <logger level="INFO"
                            message="DB and JMS joined XA transaction successfully."
                            doc:name="Log XA Success"/>
                </otherwise>
            </choice>
 
            <set-variable value="200" doc:name="Set Success Status" doc:id="ef636042-853c-4706-9c0f-6fec39379381" variableName="httpStatus"/>
			<ee:transform doc:name="Success Response">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status  : "XA_COMMIT_SUCCESS",
    message : "DB insert and JMS publish committed together.",
    orderId : vars.req.id
}]]></ee:set-payload>
                    <ee:set-attributes><![CDATA[%dw 2.0
output application/java
---
{ "http.status": 200 }]]></ee:set-attributes>
                </ee:message>
            </ee:transform>
 
            <error-handler>
                <on-error-propagate type="ANY" doc:name="XA Rollback"/>
            </error-handler>
 
        </try>
 
        <error-handler>
            <on-error-continue type="ANY" doc:name="Failure Response">
                <set-variable value="400" doc:name="Set Failure Status" doc:id="a25271a1-da68-44b8-b411-a7334ac017d7" variableName="httpStatus"/>
				<ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
var errMsg = error.description default ""
---
{
    status  : "FAILED",
    message :
        if (errMsg contains "duplicate key")
            "Order ID already exists."
        else
            "Transaction failed.",
    note    : "Rollback completed. No data was saved."
}]]></ee:set-payload>
                        <ee:set-attributes><![CDATA[%dw 2.0
output application/java
---
{ "http.status": 400 }]]></ee:set-attributes>
                    </ee:message>
                </ee:transform>
            </on-error-continue>
        </error-handler>
 
    </flow>
 
</mule>